:root {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
.intro {
  width: 100vw;
  height: 100vh;
}
video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.intro-content {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0.5;
  transform: translate(-50%, -50%);

  animation-name: intro-animation;
  animation-fill-mode: forwards;

  animation-duration: 10s;
}
.wrapper {
  display: none;
}

.title-span,
.footer-title {
  height: 5px;
  width: 30px !important;
  background: #0e6efc;
}
.devis img {
  width: 100%;
}
.a-propos {
  line-height: 30px;
  text-align: justify;
}
.a-propos-img img {
  width: 100%;
}
.header {
  line-height: 60px;
  position: sticky;
  display: flex;
  z-index: 200;
  justify-content: space-between;
  top: 20px;
}

.header-logo{
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;

 opacity: 0.8;
  
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

nav ul li a {
  text-transform: uppercase;
  font-weight: 200;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding-left: 20px;
}
nav ul li:last-child {
  background: #025ec0;
  padding-right: 20px;
  margin-left: 20px;
}
nav ul li a:hover {
  text-decoration: underline;
  text-decoration-color: white;
  font-weight: 400;
  text-decoration-thickness: 2px;
  color: white;
}
nav ul li:last-child:hover {
  text-decoration: underline;
  text-decoration-color: white;
  text-decoration-thickness: 5px;
  color: white;
  transform: scale(1.2);
  transition: ease-in-out 0.5s;
}
:hover .header-area-bg,
footer {
  background: #0b5ed7 url(../img/background.png);
  background-blend-mode: multiply;
  background-attachment: fixed;
}
.header-area,
.bubbles {
  position: relative;
  height: 800px;
  width: 100%;

  background: #0b5ed7 url(../img/background1.png);
  background-blend-mode: multiply;
  /* background-size: cover; */
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
  background-attachment: fixed;
}
.bubbles img {
  width: 50px;
  animation: bubble 7s linear infinite;
  opacity: 0.5;
}
.bubbles {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;

  bottom: 0;
}
.bubbles img:nth-child(1) {
  animation-delay: 2s;
  width: 30px;
}
.bubbles img:nth-child(2) {
  animation-delay: 1s;
}
.bubbles img:nth-child(3) {
  animation-delay: 3s;
  width: 30px;
}
.bubbles img:nth-child(4) {
  animation-delay: 4.5s;
}
.bubbles img:nth-child(5) {
  animation-delay: 3s;
  width: 30px;
}
.bubbles img:nth-child(6) {
  animation-delay: 6s;
}
.bubbles img:nth-child(7) {
  animation-delay: 2s;
  width: 30px;
}
.content {
  position: relative;
  top: 50%;
  max-width: 500px;
  transform: translateY(-50%);
  z-index: 100;
}
.content h1 {
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
}
.mobile-nav div{
  height: 2px;
  background: white;
  width: 20px;
  
}
.mobile-nav{
  position: relative;
  top:15px;
  border: 1px solid white;
  box-shadow: 0px 0px 40px 1px rgb(255, 255, 255) ;
  padding: 0 10px;
  height: 30px;
 
  justify-content: space-around;
  align-content: space-around;
  opacity: 0.8;
  display: none;
  
}
@keyframes bubble {
  0% {
    margin-bottom: 50px;
    opacity: 0;
  }

  100% {
    margin-bottom: 80vh;
    opacity: 1;
  }
}
@keyframes intro-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@media screen and (max-width:767px)
{
  .menu-principal{
    display: none;
  }
  .mobile-nav{
    display: grid;
  }
  .a-propos-mobile{

  display: flex;
  flex-direction: column-reverse;
  }
}